{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ book.title }}</h1>

  {% if book.photo %}
      <img src="{{book.photo.url}}" width="200" height="200" style="">
  {% endif %}
  <p><strong>Author:</strong> <a href="/catalog/author/{{ book.author.id }}">{{ book.author }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Summary:</strong> {{ book.summary }}</p>
  <p><strong>ISBN:</strong> {{ book.isbn }}</p> 
  <p><strong>Genre:</strong> {% for genre in book.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>    
  
{% endblock %}