{% extends "base_generic.html" %}

{% block content %}
    <h1>Bonjour {{user.username}}</h1>
    
    <div>
        <nav class="nav-extended" style="background-color:rgb(150, 100, 250);">
            <div class="nav-wrapper">
              <h10 href="{% url 'user' %}" class="brand-logo">&nbsp; Informations Personnelles</h10>
              <a href="/catalog/user/{{user.id}}/update" class="waves-effect tooltipped" data-tooltip="Modifier mes informations" style="float:right; margin-right:2%;">
                  <i class="material-icons">border_color</i>
              </a>
            </div>
        </nav>
    </div>
    
    <hr>
        
    <div class="container">
        <table class="striped">
            <tr>
                <td><b>Prénom : </b>{{user.first_name}}<td>
                <td><b>Nom de famille : </b>{{user.last_name}}</td>
            </tr>
            <tr>
                <td><b>Email : </b>{{user.email}}</td>
            </tr>
            <tr>
                <td><a href="{% url 'password_reset' %}">Modifier mot de passe</a></td>
            </tr>
        </table>
    </div>
    
    <br>
    
    <div>
        <nav class="nav-extended" style="background-color:rgb(150, 100, 250);">
            <div class="nav-wrapper">
              <h10 href="{% url 'user' %}" class="brand-logo">&nbsp; Votre Panier</h10>
              <a href="#" class="waves-effect tooltipped" data-tooltip="Modifier mon panier" style="float:right; margin-right:2%;">
                  <i class="material-icons">border_color</i>
              </a>
            </div>
        </nav>
    </div>
    
    <hr>
        
    <div class="container" style="width:90%;">
        <table class="striped">
            <th>Produit</th>
            <th>Quantité</th>
            <th>Date d'ajout</th>
            <th>Retirer</th>
            {% for carte in cart %}
                {% if carte.user == user %}
                        {% for product in carte.items.all %}
                            <tr>
                                <form action="{% url 'cart' %}" method="GET" >
                                    <td>{{ product.get_title }}</td>
                                    <input type='hidden' name='ItemID' value='{{ product.id }}' />
                                    <td>
                                        <input type='number' class='item-qty' name='qty' value='{{product.quantity}}' />
                                        <input type='submit' class='btn-update btn btn-link' value='Update item' style='display:none;'/>
                                    </td>
                                    <td>{{carte.timestamp}}</td>
                                    <td class='text-right' >
                                        <a href="{{ product.remove_from_cart }}" class="btn-floating waves-effect " style="background-color : rgba(240,10,10,0.7)">
                                          <i class="material-icons">delete</i>
                                        </a>
                                    </td>
                                </form>
                            </tr>
                        {% endfor %}
                {% endif %}   
            {% endfor %}
        </table>
    </div>
    
    {% block jquery %}
        <script>
            $(function (){
                    $(".item-qty").change(function(){
                        $(this).next(".btn-update").fadeIn();
                    });
            });
        </script>
    {% endblock %}
    
{% endblock %}